USE [Wood]
GO
/****** Object:  Table [dbo].[vProducts]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vProducts](
	[Id] [nvarchar](255) NULL,
	[ProductName] [nvarchar](255) NULL,
	[Brand] [nvarchar](255) NULL,
	[Species] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Thickness] [nvarchar](255) NULL,
	[Condition] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[MinQuantity] [float] NULL,
	[MaxQuantity] [float] NULL,
	[Stock] [float] NULL,
	[Remark] [nvarchar](max) NULL,
	[OperatorTime] [datetime] NULL,
	[OperatorId] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Sort] [int] NULL,
	[BrandName] [nvarchar](255) NULL,
	[SpeciesName] [nvarchar](255) NULL,
	[SpeciesNameEN] [nvarchar](255) NULL,
	[ThicknessName] [nvarchar](255) NULL,
	[ConditionName] [nvarchar](255) NULL,
	[ColorName] [nvarchar](255) NULL,
	[GradeName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](255) NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[NickName] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[LastLoginIP] [nvarchar](255) NULL,
	[LastLoginDate] [datetime] NULL,
	[RoleGrade] [int] NULL,
	[Status] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([Id], [UserName], [NickName], [Password], [LastLoginIP], [LastLoginDate], [RoleGrade], [Status]) VALUES (N'be487119-e8fc-4af1-9a18-c1720e6835f7', N'test', N'test订单', N'983db0433c297e4b5465b04449393f7f', N'::1', CAST(0x0000A6E300AD4293 AS DateTime), 4, 1)
INSERT [dbo].[Users] ([Id], [UserName], [NickName], [Password], [LastLoginIP], [LastLoginDate], [RoleGrade], [Status]) VALUES (N'9812ec66-4203-4ed4-8404-8fbf81d13fbf', N'fse', N'seff', N'38f0b4a9f8d7ef4915f3b77e7a8d0ef9', NULL, CAST(0x0000806800000000 AS DateTime), 1, 0)
INSERT [dbo].[Users] ([Id], [UserName], [NickName], [Password], [LastLoginIP], [LastLoginDate], [RoleGrade], [Status]) VALUES (N'7232853f-6729-4f56-8f3b-dccc21f69673', N'fe', N'awdf', N'c4ca4238a0b923820dcc509a6f75849b', NULL, CAST(0x0000806800000000 AS DateTime), 1, 0)
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[Id] [int] NOT NULL,
	[MenuCode] [nvarchar](255) NOT NULL,
	[UserId] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[UserPermissions] ([Id], [MenuCode], [UserId]) VALUES (62, N'9907', N'a621fcd5-ca89-4ea5-8930-10cd398f26b0')
INSERT [dbo].[UserPermissions] ([Id], [MenuCode], [UserId]) VALUES (1, N'9900', N'fd69f529-50a8-43d3-81ce-47546b696c3f')
INSERT [dbo].[UserPermissions] ([Id], [MenuCode], [UserId]) VALUES (2, N'0100', N'fd69f529-50a8-43d3-81ce-47546b696c3f')
/****** Object:  Table [dbo].[THJC]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THJC](
	[Id] [nvarchar](255) NULL,
	[JccdmxbId] [nvarchar](255) NULL,
	[THJccdmxbId] [nvarchar](255) NULL,
	[Index] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[THJC] ([Id], [JccdmxbId], [THJccdmxbId], [Index]) VALUES (N'aa5a3802-bcea-4a49-a3a4-eee06308f838', N'27e48136-c165-4f94-8601-9f9d95dc1228', N'14b1bd4d-f30c-4592-9ef7-3088100f27d3', 1)
INSERT [dbo].[THJC] ([Id], [JccdmxbId], [THJccdmxbId], [Index]) VALUES (N'97e1165b-4e69-4848-96d8-114caf34d8fb', N'92cd6da6-54b6-4d32-92a5-452181376c59', N'64055053-9c3a-470d-9700-56e7e995d17e', 2)
/****** Object:  Table [dbo].[StoreHouse]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreHouse](
	[Id] [nvarchar](255) NOT NULL,
	[StoreName] [nvarchar](255) NOT NULL,
	[ShortName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[StoreHouse] ([Id], [StoreName], [ShortName], [Address]) VALUES (N'5c1ca85f-9539-4462-aa3d-347ae6dc2b40', N'天河北仓库', N'天河仓库', N'天河北路612号')
INSERT [dbo].[StoreHouse] ([Id], [StoreName], [ShortName], [Address]) VALUES (N'fb6a8e7b-4e41-432e-b9f7-c5d6524bda54', N'广州南', N'广州南', N'广州南高铁站')
/****** Object:  Table [dbo].[Settlement]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settlement](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Days] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Settlement] ([Id], [Name], [Days]) VALUES (1, N'月结60天', 60)
INSERT [dbo].[Settlement] ([Id], [Name], [Days]) VALUES (2, N'月结30天', 30)
INSERT [dbo].[Settlement] ([Id], [Name], [Days]) VALUES (3, N'货到付款', 0)
/****** Object:  Table [dbo].[SerialNumber]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SerialNumber](
	[Id] [nvarchar](255) NULL,
	[BusinessTypeCode] [nvarchar](255) NULL,
	[GenerateDate] [datetime] NULL,
	[MaxNumber] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[SerialNumber] ([Id], [BusinessTypeCode], [GenerateDate], [MaxNumber]) VALUES (N'93ad5345-4efe-45e7-bece-454fe0ed79d6', N'CG', CAST(0x0000A2DF00000000 AS DateTime), 3)
INSERT [dbo].[SerialNumber] ([Id], [BusinessTypeCode], [GenerateDate], [MaxNumber]) VALUES (N'af92147e-c739-4984-af69-5ff83a4af3fd', N'JC', CAST(0x0000A2E800000000 AS DateTime), 5)
INSERT [dbo].[SerialNumber] ([Id], [BusinessTypeCode], [GenerateDate], [MaxNumber]) VALUES (N'ab9ca131-9cd8-4ccf-849b-83049ebcc022', N'CG', CAST(0x0000A2EE00000000 AS DateTime), 5)
/****** Object:  Table [dbo].[Regions]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[ParentId] [int] NULL,
	[Grade] [int] NULL,
	[Path] [nvarchar](255) NULL,
	[Sort] [int] NULL,
	[Status] [bit] NOT NULL,
	[Area] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Regions] ([Id], [Name], [ParentId], [Grade], [Path], [Sort], [Status], [Area]) VALUES (2913, N'会理县', 2907, 3, N'2799,2907,2913', NULL, 1, NULL)
INSERT [dbo].[Regions] ([Id], [Name], [ParentId], [Grade], [Path], [Sort], [Status], [Area]) VALUES (2914, N'西昌市', 2907, 3, N'2799,2907,2914', NULL, 1, NULL)
INSERT [dbo].[Regions] ([Id], [Name], [ParentId], [Grade], [Path], [Sort], [Status], [Area]) VALUES (2915, N'美姑县', 2907, 3, N'2799,2907,2915', NULL, 1, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
/****** Object:  Table [dbo].[PurchasePayment]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasePayment](
	[Id] [nvarchar](255) NULL,
	[PurchaseId] [nvarchar](255) NULL,
	[Summary] [nvarchar](255) NULL,
	[Money] [money] NULL,
	[PayTime] [datetime] NULL,
	[Index] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PurchasePayment] ([Id], [PurchaseId], [Summary], [Money], [PayTime], [Index]) VALUES (N'476c3b92-1e41-4763-a877-eb5e617f1c27', N'6c4c8add-e8ba-4a7c-af1e-ac691f174c8b', N'采购定金', 20000.0000, CAST(0x0000A30500000000 AS DateTime), 1)
INSERT [dbo].[PurchasePayment] ([Id], [PurchaseId], [Summary], [Money], [PayTime], [Index]) VALUES (N'4264470d-737c-4825-98dc-8d9a73021912', N'b18855d7-d3d7-4b6b-83df-ad3b1610d366', N'采购定金', 10000.0000, CAST(0x0000A30900000000 AS DateTime), 1)
INSERT [dbo].[PurchasePayment] ([Id], [PurchaseId], [Summary], [Money], [PayTime], [Index]) VALUES (N'5104207f-9490-4e8a-b7a8-db57c1520ea9', N'9ceecb56-42e5-4f8b-b493-a88ae55819f2', N'第一次预付款', 10000.0000, CAST(0x0000A30B00000000 AS DateTime), 1)
/****** Object:  Table [dbo].[PurchaseDetail]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseDetail](
	[Id] [nvarchar](255) NOT NULL,
	[PurchaseId] [nvarchar](255) NOT NULL,
	[Brand] [nvarchar](255) NULL,
	[Species] [nvarchar](255) NULL,
	[Thickness] [nvarchar](255) NULL,
	[Condition] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Foot] [int] NULL,
	[Price] [money] NULL,
	[Remark] [nvarchar](max) NULL,
	[Index] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[PurchaseDetail] ([Id], [PurchaseId], [Brand], [Species], [Thickness], [Condition], [Color], [Grade], [Foot], [Price], [Remark], [Index]) VALUES (N'fbdd745d-8b7b-49f3-b975-81c5f48a58c7', N'd60ae80e-7bfd-4dcc-aa11-2ca572d39932', N'9db2e1a8-63da-4ba3-989f-db088fab6978', N'dfafd958-912e-493c-8360-7907faf9ce77', N'fae9b5ef-19ef-4bbf-a11f-a196f2c79129', NULL, NULL, N'0f7b663f-7cb8-45dd-845d-c677d689dd06', 123, 321.0000, N'测试', 1)
INSERT [dbo].[PurchaseDetail] ([Id], [PurchaseId], [Brand], [Species], [Thickness], [Condition], [Color], [Grade], [Foot], [Price], [Remark], [Index]) VALUES (N'b3b85673-7fd7-49b4-8591-286531c52cfc', N'd60ae80e-7bfd-4dcc-aa11-2ca572d39932', N'b30b1222-e0df-488c-91c7-9668e3013d06', N'65a7c626-57fb-43f2-b29b-6a1fbd3151ba', N'1cda29db-6211-4e6d-b421-a36a8f562f4d', NULL, NULL, N'ad2ab025-c1a1-4a94-ae2c-64bf6714e4ac', 456, 654.9000, N'test', 2)
INSERT [dbo].[PurchaseDetail] ([Id], [PurchaseId], [Brand], [Species], [Thickness], [Condition], [Color], [Grade], [Foot], [Price], [Remark], [Index]) VALUES (N'410568d9-f28b-4d41-986b-38078b32a8f0', N'f15aa34c-7edd-4a2e-b960-824afbb0b338', N'9db2e1a8-63da-4ba3-989f-db088fab6978', N'65a7c626-57fb-43f2-b29b-6a1fbd3151ba', N'fae9b5ef-19ef-4bbf-a11f-a196f2c79129', NULL, NULL, N'0f7b663f-7cb8-45dd-845d-c677d689dd06', 11, 123.0000, N'aaa', 1)
/****** Object:  Table [dbo].[Purchase]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Id] [nvarchar](255) NULL,
	[BH] [nvarchar](255) NULL,
	[ObjectId] [nvarchar](255) NULL,
	[BusinessTime] [datetime] NULL,
	[ArrivalTime] [datetime] NULL,
	[Boat] [nvarchar](255) NULL,
	[BillNumber] [nvarchar](255) NULL,
	[OrderNumber] [nvarchar](255) NULL,
	[ExchangeRate] [nvarchar](255) NULL,
	[Tariff] [float] NULL,
	[OperatorId] [nvarchar](255) NULL,
	[AuditStatus] [int] NULL,
	[Status] [int] NULL,
	[Remark] [nvarchar](max) NULL,
	[AddTime] [datetime] NULL,
	[DWStatus] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Purchase] ([Id], [BH], [ObjectId], [BusinessTime], [ArrivalTime], [Boat], [BillNumber], [OrderNumber], [ExchangeRate], [Tariff], [OperatorId], [AuditStatus], [Status], [Remark], [AddTime], [DWStatus]) VALUES (N'd60ae80e-7bfd-4dcc-aa11-2ca572d39932', N'CG-1403-004', N'0fdd5681-b824-4ea8-950c-83c249965543', CAST(0x0000A2F300000000 AS DateTime), CAST(0x0000A30000000000 AS DateTime), N'辽宁号', N'T001', N'D001', N'0.68', 0.2, N'aa44b350-f022-47fc-b60f-009085579a4f', 1, 1, N'走向世界', CAST(0x0000A2F30168E6A0 AS DateTime), 0)
INSERT [dbo].[Purchase] ([Id], [BH], [ObjectId], [BusinessTime], [ArrivalTime], [Boat], [BillNumber], [OrderNumber], [ExchangeRate], [Tariff], [OperatorId], [AuditStatus], [Status], [Remark], [AddTime], [DWStatus]) VALUES (N'f15aa34c-7edd-4a2e-b960-824afbb0b338', N'CG-1403-005', N'c315d2f6-d457-4cab-b3ab-a3f600d73ef4', CAST(0x0000A2F600000000 AS DateTime), CAST(0x0000A2FA00000000 AS DateTime), N'', N'TS', N'SS001', N'1.68', 0.2, N'aa44b350-f022-47fc-b60f-009085579a4f', 1, 0, N'', CAST(0x0000A2F600A6101C AS DateTime), 0)
INSERT [dbo].[Purchase] ([Id], [BH], [ObjectId], [BusinessTime], [ArrivalTime], [Boat], [BillNumber], [OrderNumber], [ExchangeRate], [Tariff], [OperatorId], [AuditStatus], [Status], [Remark], [AddTime], [DWStatus]) VALUES (N'0e0ffe74-7dde-4316-8a23-1a97cb4b8748', N'CG-1404-001', N'421e9b68-60f7-4c86-8850-fae6ca5a204e', CAST(0x0000A30200000000 AS DateTime), CAST(0x0000A31800000000 AS DateTime), N'3443', N'222222', N'adfee22', N'6.7653', 0.8, N'ceaeb093-05ff-4db6-aa08-1711a39374a4', 0, 0, N'', CAST(0x0000A3020105E8D4 AS DateTime), 0)
/****** Object:  Table [dbo].[Products]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [nvarchar](255) NULL,
	[ProductName] [nvarchar](255) NULL,
	[Brand] [nvarchar](255) NULL,
	[Species] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Thickness] [nvarchar](255) NULL,
	[Condition] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[MinQuantity] [float] NULL,
	[MaxQuantity] [float] NULL,
	[Stock] [float] NULL,
	[Remark] [nvarchar](max) NULL,
	[OperatorTime] [datetime] NULL,
	[OperatorId] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[Sort] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPropertyValue]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPropertyValue](
	[Id] [nvarchar](255) NULL,
	[PropertyId] [int] NOT NULL,
	[PropertyName] [nvarchar](255) NOT NULL,
	[PropertyNameEN] [nvarchar](255) NULL,
	[Sort] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ProductPropertyValue] ([Id], [PropertyId], [PropertyName], [PropertyNameEN], [Sort]) VALUES (N'dfafd958-912e-493c-8360-7907faf9ce77', 3, N'红橡木', N'RED OAK', 9)
INSERT [dbo].[ProductPropertyValue] ([Id], [PropertyId], [PropertyName], [PropertyNameEN], [Sort]) VALUES (N'65a7c626-57fb-43f2-b29b-6a1fbd3151ba', 3, N'黄杨', N'POP', 10)
INSERT [dbo].[ProductPropertyValue] ([Id], [PropertyId], [PropertyName], [PropertyNameEN], [Sort]) VALUES (N'0f7b663f-7cb8-45dd-845d-c677d689dd06', 5, N'FAS', NULL, 10)
/****** Object:  Table [dbo].[ProductProperty]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductProperty](
	[Id] [int] NOT NULL,
	[PropertyName] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[UseWay] [nvarchar](255) NULL,
	[DefineMethod] [nvarchar](255) NULL,
	[Status] [bit] NOT NULL,
	[Enable] [bit] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ProductProperty] ([Id], [PropertyName], [Description], [UseWay], [DefineMethod], [Status], [Enable]) VALUES (1, N'捆号', N'唯一ID', N'系统自动生成，必填项', N'不定义', 1, 0)
INSERT [dbo].[ProductProperty] ([Id], [PropertyName], [Description], [UseWay], [DefineMethod], [Status], [Enable]) VALUES (2, N'柜号', N'辅助ID', N'手动输入，必填项', N'不定义', 1, 0)
INSERT [dbo].[ProductProperty] ([Id], [PropertyName], [Description], [UseWay], [DefineMethod], [Status], [Enable]) VALUES (3, N'产品名', N'1级，同级间任意组合', N'下拉选择，必填项', N'系统定义', 1, 0)
/****** Object:  Table [dbo].[ProductLossDetail]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLossDetail](
	[Id] [nvarchar](255) NULL,
	[ProductLossId] [nvarchar](255) NULL,
	[Type] [int] NULL,
	[JccdMxbCpId] [nvarchar](255) NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLoss]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLoss](
	[Id] [nvarchar](255) NULL,
	[BH] [nvarchar](255) NULL,
	[ReasonId] [int] NULL,
	[Remark] [nvarchar](max) NULL,
	[OperatorId] [int] NULL,
	[AddTime] [datetime] NULL,
	[Status] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[MenuName] [nvarchar](255) NOT NULL,
	[LinkUrl] [nvarchar](255) NULL,
	[Status] [bit] NOT NULL,
	[ParentId] [int] NULL,
	[Sort] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Menus] ([Id], [Code], [MenuName], [LinkUrl], [Status], [ParentId], [Sort]) VALUES (1, N'9900', N'系统管理', N'', 1, 0, 0)
INSERT [dbo].[Menus] ([Id], [Code], [MenuName], [LinkUrl], [Status], [ParentId], [Sort]) VALUES (2, N'9901', N'菜单管理', N'System/MenuMgr.aspx', 1, 1, 10)
INSERT [dbo].[Menus] ([Id], [Code], [MenuName], [LinkUrl], [Status], [ParentId], [Sort]) VALUES (3, N'0100', N'基础信息', N'', 1, 0, 10)
/****** Object:  Table [dbo].[JCCYY]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JCCYY](
	[BH] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Remark] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[JCCYY] ([BH], [Name], [Remark]) VALUES (N'000', N'采购进仓', N'')
INSERT [dbo].[JCCYY] ([BH], [Name], [Remark]) VALUES (N'001', N'调货进仓', N'')
INSERT [dbo].[JCCYY] ([BH], [Name], [Remark]) VALUES (N'002', N'损耗进仓', N'')
/****** Object:  Table [dbo].[JCCDMXB_CP]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JCCDMXB_CP](
	[Id] [nvarchar](255) NULL,
	[JccdId] [nvarchar](255) NULL,
	[TypeCode] [nvarchar](255) NULL,
	[Bundle] [nvarchar](255) NULL,
	[Grade] [nvarchar](255) NULL,
	[Length] [nvarchar](255) NULL,
	[Count] [int] NULL,
	[Foot] [int] NULL,
	[Volume] [float] NULL,
	[Price] [money] NULL,
	[Status] [int] NULL,
	[Remark] [nvarchar](max) NULL,
	[Time] [datetime] NULL,
	[Volume_Audit] [float] NULL,
	[Brand] [nvarchar](255) NULL,
	[Species] [nvarchar](255) NULL,
	[Thickness] [nvarchar](255) NULL,
	[Condition] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[Index] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[JCCDMXB_CP] ([Id], [JccdId], [TypeCode], [Bundle], [Grade], [Length], [Count], [Foot], [Volume], [Price], [Status], [Remark], [Time], [Volume_Audit], [Brand], [Species], [Thickness], [Condition], [Color], [Index]) VALUES (N'3629e5ea-0c71-4f7f-a933-4004c1018168', N'9d4d50ae-4722-47af-ab25-d589cd661aa6', N'CC', N'B003', N'918e8728-3d1e-44df-a0a0-31eb2fce88ff', NULL, 26, 609, 1.437, 234.0000, 0, N'333', CAST(0x0000A30B0181F578 AS DateTime), 1.437, N'9db2e1a8-63da-4ba3-989f-db088fab6978', N'65a7c626-57fb-43f2-b29b-6a1fbd3151ba', N'1cda29db-6211-4e6d-b421-a36a8f562f4d', NULL, NULL, 2)
INSERT [dbo].[JCCDMXB_CP] ([Id], [JccdId], [TypeCode], [Bundle], [Grade], [Length], [Count], [Foot], [Volume], [Price], [Status], [Remark], [Time], [Volume_Audit], [Brand], [Species], [Thickness], [Condition], [Color], [Index]) VALUES (N'dc261b17-9650-484f-be44-1d6e01fa45e9', N'3546f477-f01f-47e4-b619-53d8b9361466', N'JC', N'B002', N'ad2ab025-c1a1-4a94-ae2c-64bf6714e4ac', N'22', 26, 195, 0.46, 4000.0000, 1, N'222', CAST(0x0000A30B013461B4 AS DateTime), NULL, N'9db2e1a8-63da-4ba3-989f-db088fab6978', N'dfafd958-912e-493c-8360-7907faf9ce77', N'2d93ee52-8386-42c1-9435-04ce979fc5e9', NULL, NULL, 2)
/****** Object:  Table [dbo].[JCCDMXB_CJ]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JCCDMXB_CJ](
	[Id] [nvarchar](255) NULL,
	[JccdMxbId] [nvarchar](255) NULL,
	[Length] [int] NULL,
	[Width] [int] NULL,
	[Count] [int] NULL,
	[Index] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[JCCDMXB_CJ] ([Id], [JccdMxbId], [Length], [Width], [Count], [Index]) VALUES (N'603ca65f-18a1-454e-801c-c9c73a1bf42c', N'3629e5ea-0c71-4f7f-a933-4004c1018168', 44, 5, 6, 2)
INSERT [dbo].[JCCDMXB_CJ] ([Id], [JccdMxbId], [Length], [Width], [Count], [Index]) VALUES (N'8b97493e-2d3c-4e0b-b2c8-e6416de7c899', N'3629e5ea-0c71-4f7f-a933-4004c1018168', 44, 7, 8, 2)
INSERT [dbo].[JCCDMXB_CJ] ([Id], [JccdMxbId], [Length], [Width], [Count], [Index]) VALUES (N'15c7b4b7-e693-4008-a666-5ab1bdf1876b', N'80bb40cb-2117-4df5-9d7e-42b43ba6ba52', 11, 3, 5, 1)
/****** Object:  Table [dbo].[JCCD]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JCCD](
	[Id] [nvarchar](255) NULL,
	[BH] [nvarchar](255) NULL,
	[TypeCode] [nvarchar](255) NULL,
	[Container] [nvarchar](255) NULL,
	[OrderId] [nvarchar](255) NULL,
	[ObjectId] [nvarchar](255) NULL,
	[Remark] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Time] [datetime] NULL,
	[OperatorId] [nvarchar](255) NULL,
	[JCCYYBH] [nvarchar](255) NULL,
	[BusinessTime] [datetime] NULL,
	[AuditorId] [nvarchar](255) NULL,
	[AuditTime] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[JCCD] ([Id], [BH], [TypeCode], [Container], [OrderId], [ObjectId], [Remark], [Status], [Time], [OperatorId], [JCCYYBH], [BusinessTime], [AuditorId], [AuditTime]) VALUES (N'3546f477-f01f-47e4-b619-53d8b9361466', N'JC-1404-003', N'JC', N'HG001', N'9ceecb56-42e5-4f8b-b493-a88ae55819f2', N'c315d2f6-d457-4cab-b3ab-a3f600d73ef4', N'测试进仓库', 1, CAST(0x0000A30B013461B4 AS DateTime), N'aa44b350-f022-47fc-b60f-009085579a4f', N'000', CAST(0x0000A30B00000000 AS DateTime), N'aa44b350-f022-47fc-b60f-009085579a4f', CAST(0x0000A30B015DF95C AS DateTime))
INSERT [dbo].[JCCD] ([Id], [BH], [TypeCode], [Container], [OrderId], [ObjectId], [Remark], [Status], [Time], [OperatorId], [JCCYYBH], [BusinessTime], [AuditorId], [AuditTime]) VALUES (N'657f400a-c3bd-4711-82a8-acf47e5a53b6', N'CC-1404-002', N'CC', NULL, N'sh001', N'78898488-e6d0-41a2-90ac-3a86394ffc8d', N'测试测试', 1, CAST(0x0000A30B016209FC AS DateTime), N'aa44b350-f022-47fc-b60f-009085579a4f', N'100', CAST(0x0000A30B00000000 AS DateTime), N'aa44b350-f022-47fc-b60f-009085579a4f', CAST(0x0000A30B017012F4 AS DateTime))
INSERT [dbo].[JCCD] ([Id], [BH], [TypeCode], [Container], [OrderId], [ObjectId], [Remark], [Status], [Time], [OperatorId], [JCCYYBH], [BusinessTime], [AuditorId], [AuditTime]) VALUES (N'c0970f75-d0b1-4f9d-83e4-254bd0f291fa', N'JC-1404-004', N'JC', NULL, N'shh001', N'a00544c5-6bc5-4598-82b0-caf127acef33', N'档案室', 1, CAST(0x0000A30B01779024 AS DateTime), N'aa44b350-f022-47fc-b60f-009085579a4f', N'001', CAST(0x0000A30B00000000 AS DateTime), N'aa44b350-f022-47fc-b60f-009085579a4f', CAST(0x0000A30B017DA914 AS DateTime))
/****** Object:  Table [dbo].[InvoiceType]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceType](
	[Id] [int] NOT NULL,
	[TypeName] [nvarchar](255) NULL,
	[Tariff] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[InvoiceType] ([Id], [TypeName], [Tariff]) VALUES (1, N'无发票', 0)
INSERT [dbo].[InvoiceType] ([Id], [TypeName], [Tariff]) VALUES (2, N'增值税', 0.2)
/****** Object:  Table [dbo].[Inventory]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [nvarchar](255) NULL,
	[Bundle] [nvarchar](255) NULL,
	[Container] [nvarchar](255) NULL,
	[Species] [int] NULL,
	[Thickness] [int] NULL,
	[Condition] [int] NULL,
	[Color] [int] NULL,
	[Grade] [int] NULL,
	[Length] [nvarchar](255) NULL,
	[Status] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceQTYWDMX]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceQTYWDMX](
	[Id] [nvarchar](255) NULL,
	[YwdId] [nvarchar](255) NULL,
	[TypeId] [nvarchar](255) NULL,
	[Summary] [nvarchar](255) NULL,
	[Money] [money] NULL,
	[Index] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceQTYWDLX]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceQTYWDLX](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Sort] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceQTYWD]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceQTYWD](
	[Id] [nvarchar](255) NULL,
	[BH] [nvarchar](255) NULL,
	[BusObjId] [nvarchar](255) NULL,
	[BusObjName] [nvarchar](255) NULL,
	[BusTime] [datetime] NULL,
	[OperatorId] [nvarchar](255) NULL,
	[AddTime] [datetime] NULL,
	[Status] [int] NULL,
	[AuditTime] [datetime] NULL,
	[AuditerId] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinanceJZDMX]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceJZDMX](
	[Id] [nvarchar](255) NULL,
	[FinJZDID] [nvarchar](255) NULL,
	[FinDZDID] [nvarchar](255) NULL,
	[Money] [money] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FinanceJZDMX] ([Id], [FinJZDID], [FinDZDID], [Money]) VALUES (N'1599e071-d5e1-4ed9-864f-7cd9e72b87c7', N'3d11ec51-3d70-4ba9-8145-a48c385de9f8', N'4133ef1b-4911-4390-840c-60700253b1e0', 33680.0000)
INSERT [dbo].[FinanceJZDMX] ([Id], [FinJZDID], [FinDZDID], [Money]) VALUES (N'95cf3169-d1e6-453b-8076-b6503f12c160', N'46cf558f-e3a3-40e7-8e2b-88b4bb7a8845', N'4133ef1b-4911-4390-840c-60700253b1e0', 33680.0000)
INSERT [dbo].[FinanceJZDMX] ([Id], [FinJZDID], [FinDZDID], [Money]) VALUES (N'21d12e0a-2265-48b6-9521-85361c2864c2', N'647cbd92-b29f-46db-a123-7962f0eb3621', N'fdd5a4f5-52b4-403a-a257-407da6101101', 38990.0000)
/****** Object:  Table [dbo].[FinanceJZD]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceJZD](
	[Id] [nvarchar](255) NULL,
	[LX] [int] NULL,
	[BH] [nvarchar](255) NULL,
	[BusObjId] [nvarchar](255) NULL,
	[BusObjName] [nvarchar](255) NULL,
	[SettlementTime] [datetime] NULL,
	[SettlementId] [int] NULL,
	[BankId] [nvarchar](255) NULL,
	[Money] [money] NULL,
	[Remark] [nvarchar](max) NULL,
	[OperatorId] [nvarchar](255) NULL,
	[AddTime] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FinanceJZD] ([Id], [LX], [BH], [BusObjId], [BusObjName], [SettlementTime], [SettlementId], [BankId], [Money], [Remark], [OperatorId], [AddTime]) VALUES (N'46cf558f-e3a3-40e7-8e2b-88b4bb7a8845', 0, N'FK-1404-001', N'0fdd5681-b824-4ea8-950c-83c249965543', N'华成', CAST(0x0000A30900000000 AS DateTime), 3, N'', 33680.0000, N'', N'fd69f529-50a8-43d3-81ce-47546b696c3f', CAST(0x0000A30101236ABC AS DateTime))
INSERT [dbo].[FinanceJZD] ([Id], [LX], [BH], [BusObjId], [BusObjName], [SettlementTime], [SettlementId], [BankId], [Money], [Remark], [OperatorId], [AddTime]) VALUES (N'647cbd92-b29f-46db-a123-7962f0eb3621', 1, N'SK-1404-001', N'a8f4d24d-b3d0-45f7-8b9b-f66d85abad06', N'恒大', CAST(0x0000A31D00000000 AS DateTime), 2, N'', 38990.0000, N'', N'fd69f529-50a8-43d3-81ce-47546b696c3f', CAST(0x0000A3010123B10C AS DateTime))
INSERT [dbo].[FinanceJZD] ([Id], [LX], [BH], [BusObjId], [BusObjName], [SettlementTime], [SettlementId], [BankId], [Money], [Remark], [OperatorId], [AddTime]) VALUES (N'6e37c021-feb6-411a-ba3b-bff4517d01de', 1, N'SK-1404-002', N'a8f4d24d-b3d0-45f7-8b9b-f66d85abad06', N'恒大', CAST(0x0000A30200000000 AS DateTime), 2, N'3de2649d-e4be-4351-ac3b-16f51e2efadc', 394660.5400, N'', N'ceaeb093-05ff-4db6-aa08-1711a39374a4', CAST(0x0000A302010D1C30 AS DateTime))
/****** Object:  Table [dbo].[FinanceInterface]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceInterface](
	[Id] [nvarchar](255) NULL,
	[LX] [int] NULL,
	[YWDJLX] [nvarchar](255) NULL,
	[YWDJID] [nvarchar](255) NULL,
	[YWDJBH] [nvarchar](255) NULL,
	[YWDJRQ] [datetime] NULL,
	[YWDXID] [nvarchar](255) NULL,
	[YWDXJC] [nvarchar](255) NULL,
	[Money] [money] NULL,
	[OperatorId] [nvarchar](255) NULL,
	[AddTime] [datetime] NULL,
	[Status] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FinanceInterface] ([Id], [LX], [YWDJLX], [YWDJID], [YWDJBH], [YWDJRQ], [YWDXID], [YWDXJC], [Money], [OperatorId], [AddTime], [Status]) VALUES (N'd0e7c8c4-0961-4a14-9678-eeaf8ffbfe57', 0, N'采购单', N'6c4c8add-e8ba-4a7c-af1e-ac691f174c8b', N'CG-1404-004', CAST(0x0000A30400000000 AS DateTime), N'62fcad11-a4df-4eb8-87f8-905481bf29ec', N'科大', 20000.0000, N'aa44b350-f022-47fc-b60f-009085579a4f', CAST(0x0000A30400CFAA1C AS DateTime), 0)
INSERT [dbo].[FinanceInterface] ([Id], [LX], [YWDJLX], [YWDJID], [YWDJBH], [YWDJRQ], [YWDXID], [YWDXJC], [Money], [OperatorId], [AddTime], [Status]) VALUES (N'64739bd1-cf5f-4cab-91af-2145010b2b36', 0, N'进仓单', N'8529dd4f-638e-4983-a9dc-774a2b912c38', N'JC201403-002', CAST(0x0000A2CD00EE4B20 AS DateTime), N'0fdd5681-b824-4ea8-950c-83c249965543', N'华成', 1559.7934, N'22fed737-ed89-4059-b765-af149d32cfe0', CAST(0x0000A30000EE4B20 AS DateTime), 0)
INSERT [dbo].[FinanceInterface] ([Id], [LX], [YWDJLX], [YWDJID], [YWDJBH], [YWDJRQ], [YWDXID], [YWDXJC], [Money], [OperatorId], [AddTime], [Status]) VALUES (N'1b35ed58-d3c6-47f2-9deb-637eec98763e', 1, N'出仓单', N'79833c41-6234-4b6e-8f2c-acb71fa1066c', N'CC201403-051', CAST(0x0000A2FE00EE4B20 AS DateTime), N'a8f4d24d-b3d0-45f7-8b9b-f66d85abad06', N'恒大', 137014.2474, N'7bdb2f45-9779-4881-b510-505686021d5a', CAST(0x0000A2FF00EE4B20 AS DateTime), 0)
/****** Object:  Table [dbo].[FinanceDZDMX]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceDZDMX](
	[Id] [nvarchar](255) NULL,
	[FinDZDID] [nvarchar](255) NULL,
	[FinIntId] [nvarchar](255) NULL,
	[Money] [money] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FinanceDZDMX] ([Id], [FinDZDID], [FinIntId], [Money]) VALUES (N'6b20aeb6-2d9c-4e19-9330-6e6eb52acca1', N'4133ef1b-4911-4390-840c-60700253b1e0', N'14c6b6c6-7190-410c-aede-492bea77a476', -7322.6100)
INSERT [dbo].[FinanceDZDMX] ([Id], [FinDZDID], [FinIntId], [Money]) VALUES (N'4c5bcf7e-33cf-4aaa-8aab-ffd814d8955d', N'4133ef1b-4911-4390-840c-60700253b1e0', N'bb3bf0b4-094d-4825-9838-8433ac01f364', 8787.1300)
INSERT [dbo].[FinanceDZDMX] ([Id], [FinDZDID], [FinIntId], [Money]) VALUES (N'8ef15b25-2375-47b6-a60e-8a546555110f', N'4133ef1b-4911-4390-840c-60700253b1e0', N'0c6034ef-426f-415f-8d55-526d5b324896', 14645.2200)
/****** Object:  Table [dbo].[FinanceDZD]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinanceDZD](
	[Id] [nvarchar](255) NULL,
	[LX] [int] NULL,
	[BH] [nvarchar](255) NULL,
	[BusObjId] [nvarchar](255) NULL,
	[BusObjName] [nvarchar](255) NULL,
	[ReconTime] [datetime] NULL,
	[SettlementTime] [datetime] NULL,
	[SettlementId] [int] NULL,
	[Remark] [nvarchar](255) NULL,
	[Money] [money] NULL,
	[SettledMoney] [money] NULL,
	[DiscountMoney] [money] NULL,
	[OperatorId] [nvarchar](255) NULL,
	[AddTime] [datetime] NULL,
	[Status] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[FinanceDZD] ([Id], [LX], [BH], [BusObjId], [BusObjName], [ReconTime], [SettlementTime], [SettlementId], [Remark], [Money], [SettledMoney], [DiscountMoney], [OperatorId], [AddTime], [Status]) VALUES (N'4133ef1b-4911-4390-840c-60700253b1e0', 0, N'YFZ-1404-003', N'0fdd5681-b824-4ea8-950c-83c249965543', N'华成', CAST(0x0000A30100000000 AS DateTime), CAST(0x0000A30900000000 AS DateTime), 3, N'', 33680.0000, 33680.0000, 4.0100, N'fd69f529-50a8-43d3-81ce-47546b696c3f', CAST(0x0000A30100AF00C8 AS DateTime), 0)
INSERT [dbo].[FinanceDZD] ([Id], [LX], [BH], [BusObjId], [BusObjName], [ReconTime], [SettlementTime], [SettlementId], [Remark], [Money], [SettledMoney], [DiscountMoney], [OperatorId], [AddTime], [Status]) VALUES (N'fdd5a4f5-52b4-403a-a257-407da6101101', 1, N'YFZ-1404-004', N'a8f4d24d-b3d0-45f7-8b9b-f66d85abad06', N'恒大', CAST(0x0000A30100000000 AS DateTime), CAST(0x0000A30E00000000 AS DateTime), 3, N'', 38990.0000, 38990.0000, 4.8300, N'fd69f529-50a8-43d3-81ce-47546b696c3f', CAST(0x0000A30101074BE8 AS DateTime), 0)
INSERT [dbo].[FinanceDZD] ([Id], [LX], [BH], [BusObjId], [BusObjName], [ReconTime], [SettlementTime], [SettlementId], [Remark], [Money], [SettledMoney], [DiscountMoney], [OperatorId], [AddTime], [Status]) VALUES (N'b7e2d201-71c3-4f02-a98e-14b9b4951afd', 1, N'YFZ-1404-001', N'a8f4d24d-b3d0-45f7-8b9b-f66d85abad06', N'恒大', CAST(0x0000A30200000000 AS DateTime), CAST(0x0000A31700000000 AS DateTime), 1, N'', 394660.5400, 394660.5400, 0.0000, N'ceaeb093-05ff-4db6-aa08-1711a39374a4', CAST(0x0000A302010C4490 AS DateTime), 0)
/****** Object:  Table [dbo].[EncodingSetting]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncodingSetting](
	[Id] [nvarchar](255) NULL,
	[Connector] [nvarchar](255) NOT NULL,
	[DateType] [int] NULL,
	[NumCount] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DWStatus]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DWStatus](
	[BH] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[Remark] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DWStatus] ([BH], [Name], [Remark]) VALUES (0, N'付款', N'')
INSERT [dbo].[DWStatus] ([BH], [Name], [Remark]) VALUES (1, N'正本', N'')
INSERT [dbo].[DWStatus] ([BH], [Name], [Remark]) VALUES (2, N'报关', N'')
/****** Object:  Table [dbo].[ContractDetail]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContractDetail](
	[Id] [nvarchar](255) NOT NULL,
	[ContractId] [nvarchar](255) NOT NULL,
	[Bundle] [nvarchar](255) NOT NULL,
	[ProductId] [nvarchar](255) NOT NULL,
	[Volume] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Index] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Id] [nvarchar](255) NULL,
	[ObjectId] [nvarchar](255) NULL,
	[Tariff] [float] NULL,
	[SignTime] [datetime] NULL,
	[DeliveryTime] [datetime] NULL,
	[OperatorId] [int] NULL,
	[AddTime] [datetime] NULL,
	[Remark] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BusinessType]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessType](
	[Code] [nvarchar](255) NULL,
	[TypeName] [nvarchar](255) NOT NULL,
	[TypeValue] [nvarchar](255) NULL,
	[Sort] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BusinessType] ([Code], [TypeName], [TypeValue], [Sort]) VALUES (N'CP', N'产品', N'CP', 0)
INSERT [dbo].[BusinessType] ([Code], [TypeName], [TypeValue], [Sort]) VALUES (N'HT', N'合同', N'HT', 1)
INSERT [dbo].[BusinessType] ([Code], [TypeName], [TypeValue], [Sort]) VALUES (N'CG', N'采购单', N'CG', 2)
/****** Object:  Table [dbo].[BusinessObjects]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessObjects](
	[Id] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[ShortName] [nvarchar](255) NOT NULL,
	[ObjectType] [int] NOT NULL,
	[Sort] [int] NULL,
	[Linkman] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[ProvinceId] [int] NULL,
	[CityId] [int] NULL,
	[Address] [nvarchar](255) NULL,
	[Invoice] [int] NULL,
	[Tariff] [float] NULL,
	[Settlement] [int] NULL,
	[ReconciledTime] [nvarchar](255) NULL,
	[Credit] [nvarchar](255) NULL,
	[Remark] [nvarchar](max) NULL,
	[OperatorId] [nvarchar](255) NULL,
	[AddTime] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BusinessObjects] ([Id], [FullName], [ShortName], [ObjectType], [Sort], [Linkman], [Phone], [ProvinceId], [CityId], [Address], [Invoice], [Tariff], [Settlement], [ReconciledTime], [Credit], [Remark], [OperatorId], [AddTime]) VALUES (N'0fdd5681-b824-4ea8-950c-83c249965543', N'中山华成', N'华成', 0, NULL, N'刘一', N'123456', 398, 471, N'有点远', 2, 0.2, 2, N'2014-02-01', NULL, N'', N'aa44b350-f022-47fc-b60f-009085579a4f', CAST(0x0000A2D8011CA7E0 AS DateTime))
INSERT [dbo].[BusinessObjects] ([Id], [FullName], [ShortName], [ObjectType], [Sort], [Linkman], [Phone], [ProvinceId], [CityId], [Address], [Invoice], [Tariff], [Settlement], [ReconciledTime], [Credit], [Remark], [OperatorId], [AddTime]) VALUES (N'b3ce7806-a9dd-43f3-94fb-4a0450624d3b', N'广州拓展', N'拓展', 0, 10, N'王总', N'12345678', 398, 421, N'不知道', 2, 0.3, 3, N'2014-02-15', NULL, N'哈哈sss', N'aa44b350-f022-47fc-b60f-009085579a4f', CAST(0x0000A2D900E49918 AS DateTime))
INSERT [dbo].[BusinessObjects] ([Id], [FullName], [ShortName], [ObjectType], [Sort], [Linkman], [Phone], [ProvinceId], [CityId], [Address], [Invoice], [Tariff], [Settlement], [ReconciledTime], [Credit], [Remark], [OperatorId], [AddTime]) VALUES (N'62fcad11-a4df-4eb8-87f8-905481bf29ec', N'北京科大', N'科大', 0, NULL, N'王五', N'', 143, 151, N'测试', 2, 0.2, 2, N'2014-03-20', NULL, N'', N'aa44b350-f022-47fc-b60f-009085579a4f', CAST(0x0000A2FA0118C878 AS DateTime))
/****** Object:  Table [dbo].[Bank]    Script Date: 12/24/2016 09:19:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [nvarchar](255) NULL,
	[BankName] [nvarchar](255) NULL,
	[Sort] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Bank] ([Id], [BankName], [Sort]) VALUES (N'edacbbef-aba6-4c1d-93b9-ab338ebce805', N'中国工商银行', 10)
INSERT [dbo].[Bank] ([Id], [BankName], [Sort]) VALUES (N'3de2649d-e4be-4351-ac3b-16f51e2efadc', N'中国农业银行', 9)
INSERT [dbo].[Bank] ([Id], [BankName], [Sort]) VALUES (N'd6248098-5db2-4488-9789-9e03a24e63c6', N'中国建设银行', 8)
