@{
    ViewBag.Title = "属性管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="tabs" class="easyui-tabs" data-options="fit:true">
    <div title="Tab1" style="padding:20px;display:none;">
        tab1
    </div>
    <div title="Tab2">
       
    </div>
    <div title="Tab3">
        tab3
    </div>
</div>

@section js{
    <script type="text/javascript">

    </script>
}
