
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="../../Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/font-awesome.css">
    <title>微小区管理中心 | 微小区</title>
</head>
<body>
    <header id="header" class="sidebar-toggled">
        <ul class="header-inner">
           
        <li class="logo hidden-xs m-l-10" id="logo-11">
            <a href="https://www.weixiaoqu.com" target="_blank" title="前往微小区官网">
                <img src="/vipstatic/images/logo.png" alt="" />
                <!--                微小区管理中心--> </a>
        </li>
        <li class="" id="wxq-dash">
            <a href="javascript:"> <i class="fa fa-th"></i>
                产品与服务
            </a>
        </li>
        <li class="logo pc-hidden">
            <a href="/dashboard/index.html" >微小区</a>
        </li>
        <li class="pull-right">
            <ul class="top-menu">
                <li class="gd-icon">
                    <a title="提交工单" class="" href="/worksheet/index.html"> <i class="fa fa-commenting"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="tm-message" href="">
                        <i class="tmn-counts" style="display: block;">5</i>
                    </a>
                </li>
                <li class="dropdown head-img">
                    <a data-toggle="dropdown" class="" href="">
                        <img class="lv-img-sm m-r-5"  
                        src="/vipstatic/images/no.jpg" alt="" />
                        <span class="p-user-name"></span>
                    </a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li>
                            <a href="/index/login_out.html">
                                <i class="fa fa-power-off"></i>
                                退出登录
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</header>
<nav id="wxq-dashboard">
   
    <div class="col-lg-2  col-sm-6 col-md-3 col-xs-12 menu-item">

    <h2>修改个人资料</h2>
    </div>
    <div class="hr-solid"></div>
    <div class="card-body card-padding">
        <div class="row">
            <form class="form-k col-lg-12" id="form1">
                <div class="form-group-k o-hidden">
                    <label class="col-sm-2 control-label">姓名：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control-k"  name="name" id="" value="" />
                    </div>
                </div>
                <div class="hr-dashed"></div>
                <div class="form-group-k o-hidden">
                    <label class="col-sm-2 control-label">头像：</label>
                    <div class="col-sm-8">
                        <div class="previews-box" id="img">
                            <div class="img-previews">
                                <img id="tu" src="/vipstatic/images/no.jpg">
                                <input class="up_img" name="imghead"  type="hidden" value="" />
                            </div>
                        </div>
                        <button id="upload" type="button" class="btn"></button>
                    </div>
                </div>
                <div class="hr-dashed"></div>
                <div class="form-group-k o-hidden">
                    <label class="col-sm-2 control-label">手机号：</label>
                    <div class="col-sm-4 p-t-5">
                        <span></span>
                        <a href="/account/edit_phone_1.html" class="pull-right">绑定手机</a>
                    </div>
                </div>
                <div class="hr-dashed"></div>
                <div class="form-group-k o-hidden">
                    <label class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-4 p-t-10">
                        <span class="m-r-25">wdwyyx1995@163.com</span>
                        <a href="/account/edit_mail.html" class="pull-right">修改邮箱</a>
                    </div>
                </div>
                <div class="hr-dashed"></div>
                <div class="form-group-k o-hidden">
                    <label class="col-sm-2 control-label">QQ号：</label>
                    <div class="col-sm-4 p-t-10">
                        <span class="m-r-25"></span>
                        <a href="/account/qq_btn.html" class="pull-right">绑定QQ</a>
                    </div>
                </div>
                <div class="hr-dashed"></div>
                <div class="form-group-k o-hidden">
                    <label class="col-sm-2 control-label">微信：</label>
                    <div class="col-sm-4 p-t-10">
                        <span class="m-r-25"></span>
                        <a href="/account/wx_btn.html" class="pull-right">绑定微信</a>
                    </div>
                </div>
                <div class="hr-dashed"></div>
                <div class="form-group-k o-hidden">
                    <label class="col-sm-2 control-label">登录密码：</label>
                    <div class="col-sm-4 p-t-10">
                        <a href="/account/edit_pass.html" class="pull-right">修改密码</a>
                    </div>
                </div>
                <div class="hr-dashed"></div>
                <div class="form-group-k o-hidden">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-9 p-t-10 p-b-20">
                        <input type="hidden" name="userid" value="10558">
                        <button type="button" class="btn btn-primary btn-w-m  baoc">保存</button>
                        <a href="javascript:history.go(-1)" class="btn btn-default btn-w-m m-l-10 ">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</section>
</section>

</body>
</html>