@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style type="text/css">
        /*bootstrap兼容问题和easyui的bug*/
        .panel-header, .panel-body {
            border-width: 0px;
        }

        #permission_modal .panel {
            margin-bottom: 20px;
        }

        #permission_modal .panel-heading {
            border-bottom: 1px solid transparent;
        }

        #permission_modal .panel-body{
            padding: 10px;
            border: 1px solid #d9edf7;
            border-top: none;
        }
    </style>
}
<table id="dg"></table>
<!-- modal -->
@section bodyElement{
<div id="user_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
              </button>
              <h4 id="modal_title" class="modal-title"></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form" id="info_form">
                <div class="form-group">
                    <label for="nickname" class="col-sm-2 col-sm-offset-1 control-label">用户昵称</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nickname" name="nickname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="col-sm-2 col-sm-offset-1 control-label">登录账号</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="username" name="username" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 col-sm-offset-1 control-label">登录密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ack_password" class="col-sm-2 col-sm-offset-1 control-label">确认密码</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="ack_password" id="ack_password">
                    </div>
                </div>
                <div class="checkbox col-sm-offset-3">
                    <label>
                        <input type="checkbox" id="status" name="status" value="1"> 启用
                    </label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id="user_save" type="button" class="btn btn-primary">保存</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="permission_modal" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">权限设置</h4>
    </div>
    <div class="modal-body">
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button id="permission_save" type="button" class="btn btn-primary">保存</button>
</div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
}
@section js{
<script type="text/javascript">
    $(function() {
        var usernameBox = $("#username");
        var nicknameBox = $("#nickname");
        var passwordBox = $("#password");
        var ackPasswordBox = $("#ack_password");
        var statusBox = $("#status");
        var userModal = $("#user_modal");
        var permissionModal = $("#permission_modal");
        var permissionContent = $("#permission_modal .modal-body").eq(0);
        var modalTitle = $("#modal_title");
        var dg = $("#dg");
        var infoForm = $("#info_form");
        var selectedRow = null;
        var oldPermissions = null;
        var root = getRootPath();

        function createCheckbox(id, value, inputClass, text)
        {
            var label = $("<label class='checkbox-inline'><label>");
            var input = $("<input type='checkbox'>");
            input.addClass(inputClass);
            if(id) input.prop("id", id);
            if(value) input.prop("value", value);
            label.append(input).append(text);
            return label;
        }

        statusBox.on("click", function() {
            if($(this).prop("checked")) $(this).val("1");
            else $(this).val("0");
        });

        $('#dg').datagrid({
            url: root + '/User/GetUsers?',
            singleSelect: true,
            fitColumns: true,
            columns:[[
                {field:'Id',checkbox:true,width:100},
                {field:'Username',title:'用户名',width:100},
                {field:'Nickname',title:'昵称',width:100},
                {field:'LastLoginDate',title:'最后登录时间',width:300,formatter: function(value,row,index) {
                    var dateSource = value.replace("/Date(","").replace(")/","");
                    return getDate(parseInt(dateSource));
                }},
                {field:'LastLoginIP',title:'最后登录IP',width:100},
                {field:'Status',title:'状态',width:100, formatter: function(value,row,index) {
                    if(value) return "启用";
                    else return "禁用";
                }},
            ]],
            pagination: true,
            onSelectPage: function(pageNumber, pageSize) {
                dg.datagrid('load');
            },
            toolbar: [
                {
                    iconCls:'icon-add',
                    text: '新增',
                    handler: function() {
                        usernameBox.val("");
                        nicknameBox.val("");
                        passwordBox.val("");
                        ackPasswordBox.val("");
                        statusBox.prop("checked", true);
                        statusBox.val("1");
                        usernameBox.prop("disabled", false);
                        userModal.modal("show");
                        modalTitle.text("新增用户");
                    }
                },'-',
                {
                    iconCls:'icon-edit',
                    text: '编辑',
                    handler: function() {
                        selectedRow = dg.datagrid("getSelected");
                        if(!selectedRow) {
                            alert("请先选择某个用户！");
                            return;
                        }
                        passwordBox.val("");
                        ackPasswordBox.val("");
                        nicknameBox.val(selectedRow.Nickname);
                        usernameBox.val(selectedRow.Username);
                        if(selectedRow.Status) {
                            statusBox.prop("checked", true);
                            statusBox.val("1");
                        }
                        else {
                            statusBox.prop("checked", false);
                            statusBox.val("0");
                        }
                        usernameBox.prop("disabled", true);
                        modalTitle.text("修改用户");
                        userModal.modal("show");
                    }
                },'-',
                {
                    iconCls:'icon-remove',
                    text: '权限管理',
                    handler: function() {
                        selectedRow = dg.datagrid("getSelected");
                        oldPermissions = new Array();
                        if(!selectedRow) {
                            alert("请先选择某个用户！");
                            return;
                        }
                        $.ajax({
                            url: root + "/user/getAllPermissions",
                            type: "post",
                            async: false,
                            success: function(data) {
                                permissionContent.empty();
                                $.each(data, function(index, menuParent) {
                                    var panel = $("<div class='panel panel-info'><div>");
                                    var panelHeader = $("<div class='panel-heading'></div>");
                                    var panelBody = $("<div class='panel-body'></div>");
                                    panelHeader.append(
                                        createCheckbox(menuParent.Id, menuParent.Id, "checkbox-permission", menuParent.MenuName)
                                    ).append(
                                        createCheckbox(null, null, "checkbox-all", "全选")
                                    );
                                    panel.append(panelHeader).append(panelBody);
                                    $.each(menuParent.children, function(childIndex, menuChild) {
                                        panelBody.append(
                                            createCheckbox(menuChild.Id, menuChild.Id, "checkbox-permission", menuChild.MenuName)
                                        );
                                    });
                                    permissionContent.append(panel);
                                });
                            },
                            error: function() {
                                alert("服务器错误");
                            }
                        });

                        $.ajax({
                            url: root + "/user/getPermissions",
                            type: "post",
                            dataType: "json",
                            data: { userId: selectedRow.Id },
                            success: function(data) {
                                $.each(data, function(index, permission) {
                                    $("#" + permission.MenuId).prop("checked", true).data("pmsId", permission.Id);
                                    oldPermissions.push(permission.MenuId);
                                });

                                permissionModal.modal("show");
                            }
                        });
                    }
                },'-',
                {
                    iconCls:'icon-cut',
                    text: '删除',
                    handler: function() {
                        selectedRow = dg.datagrid("getSelected");
                        if(!selectedRow) {
                            alert("请先选择某个用户！");
                            return;
                        }
                        if(window.confirm("确定要删除用户吗？")) {
                            $.ajax({
                                url: root + "/User/DeleteUser",
                                type: "post",
                                dataType: "json",
                                data: {
                                    username: selectedRow.Username
                                },
                                success: function(result) {
                                    if(result) dg.datagrid("reload");
                                },
                                error: function() {
                                    alert("服务器出错");
                                }
                            })
                        }
                    }
                }
            ]
        });

        $("#user_save").on("click", function() {
            if(usernameBox.prop("disabled")) {
                if(passwordBox.val() != ackPasswordBox.val()) {
                    alert("密码不一致！");
                    return;
                }
                var properties = new Array();
                if(nicknameBox.val() != selectedRow.Nickname) properties.push("Nickname");
                if(statusBox.val() != selectedRow.Status) properties.push("Status");
                if(passwordBox.val()) properties.push("Password");
                if(properties.length == 0) {
                    userModal.modal('hide')
                    return;
                }
                $.ajax({
                    url: root + "/User/UpdateUserInfo",
                    type: "post",
                    dataType: "json",
                    data: {
                        userStr:JSON.stringify({
                            Id: selectedRow.Id,
                            Nickname: nicknameBox.val(),
                            Password: passwordBox.val(),
                            Status: statusBox.val()
                        }),
                        properties: properties
                    },
                    traditional: true,
                    success: function(result) {
                        if(result.status) {
                            alert("修改成功!");
                            userModal.modal("hide");
                            dg.datagrid("reload");
                        }
                        else alert(result.message);
                    },
                    error: function() {
                        alert("服务器出错");
                    }
                });
            } else {
                if(!usernameBox.val() || !nicknameBox.val() || !passwordBox.val()) {
                    alert("请先完善信息！");
                    return;
                }
                if(passwordBox.val() != ackPasswordBox.val()) {
                    alert("密码不一致！");
                    return;
                }
                $.ajax({
                    url: root + "/User/AddUser",
                    type: "post",
                    dataType: "json",
                    data: {
                        Username: usernameBox.val(),
                        Nickname: nicknameBox.val(),
                        Password: passwordBox.val(),
                        Status: statusBox.val()
                    },
                    success: function(result) {
                        if(result.status) {
                            alert("增加成功！");
                            userModal.modal("hide");
                            dg.datagrid("reload");
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function() {
                        alert("服务器出错");
                    }
                })
            }
        });


        permissionContent.on("click", ".checkbox-all", function() {
            var panelBody = $(this).parent().parent().next();
            var checkboxes = panelBody.find(".checkbox-permission");
            if($(this).prop("checked")) {
                checkboxes.each(function() {
                   $(this).prop("checked", true);
                });
            } else {
                checkboxes.each(function() {
                   $(this).prop("checked", false);
                });
            }
        });

        $("#permission_save").on("click", function() {
            var userAddedPermissions = new Array();
            var userDeletedPermissions = new Array();
            var newPermissions = new Array();
            var checkedPermissions = permissionContent.find("input[class=checkbox-permission]:checked");
            var isAdded = true;
            checkedPermissions.each(function() {
                newPermissions.push(parseInt($(this).val()));
            });


            for(var i = 0; i < newPermissions.length; i++) {
                isAdded = true;
                for(var j = 0; j < oldPermissions.length; j++) {
                    if(newPermissions[i] == oldPermissions[j]) {
                        delete oldPermissions[j];
                        isAdded = false;
                        break;
                    }
                }
                if(isAdded) userAddedPermissions.push(newPermissions[i])
            }

            oldPermissions.forEach(function(value) {
                if(value) userDeletedPermissions.push($("#" + value).data("pmsId"));
            });

            $.ajax({
                url: root + "/user/UpdateUserPemissions",
                type: "post",
                dataType: "json",
                data: {
                    userId: selectedRow.Id,
                    addedPmsIds: userAddedPermissions,
                    deletedPmsIds: userDeletedPermissions
                },
                traditional: true,
                success: function(result) {
                    if(result.status) {
                        alert("修改成功！");
                        permissionModal.modal("hide");
                    } else {
                        alert(result.message);
                    }
                },
                error: function() {
                    alert("服务器出错");
                }
            });
        });
    })
</script>
}